:root {
	--primary: #7577bf;
	--accent: #4d4c72;
	--white: #fff;
	--offBlack: #0b0b0b;
	--grey: #f5f5f5;
	--darkGrey: #777777;
}

/* element styling */
body {
	margin: 0;
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
}
a {
	color: white;
	text-decoration: none;
}
p {
	margin: 0;
}
canvas {
	width: 100% !important;
	height: 80% !important;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
/* class styles */
.grid {
	display: grid;
}
.flex {
	display: flex;
}
.hide {
	display: none;
}
.flex-col {
	flex-direction: column;
}
.align-items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}
.space-around {
	justify-content: space-around;
}

.font-medium {
	font-weight: 600;
}
.gap10 {
	gap: 10px;
}
.underline {
	text-decoration: underline;
	text-underline-offset: 4px;
}
/*------------------------ PAGE GRID LAYOUT -------------------------*/

.grid-container {
	grid-template-rows: auto;
	grid-template-areas:
		"header"
		"nav"
		"main";
}

@media screen and (min-width: 768px) {
	.grid-container {
		grid-template-areas:
			"header header"
			"nav main";
	}
}

/*------------------------ HEADER -------------------------*/

.header {
	grid-area: header;

	padding: 20px 10px;

	color: var(--white);
	background-color: var(--primary);
}

h1 {
	font-size: 22px;
	margin: auto 0;
}
/* Header profile */

.header-profile {
	padding: 10px 0 10px 10px;

	border-left: 1px solid var(--grey);
}

.header-profile-img {
	border-radius: 100%;

	width: 40px;
	height: 40px;
}

.header-name {
	font-size: 12px;
}

@media screen and (min-width: 768px) {
	.header {
		padding: 20px;
	}
	h1 {
		font-size: 27px;
	}
	.header-name {
		font-size: 16px;
	}
}

/* Notification profile */

.notification-container {
	padding: 10px;
	height: fit-content;
	position: relative;
}
.notification-container:hover {
	cursor: pointer;
}
.notification-container:hover .bell-icon {
	animation: ring 0.4s ease;
}
.notification-container .dot {
	width: 5px;
	height: 5px;
	background-color: rgb(92, 255, 92);
	border-radius: 50%;
	position: absolute;
	top: 0px;
	right: 6px;
}
.bell-icon {
	fill: white;
	width: 20px;
	height: 20px;
}
@keyframes ring {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	75% {
		transform: rotate(45deg);
	}
	100% {
		transform: translate(0deg);
	}
}
/*------------------------ NAV/SIDENAV -------------------------*/

.nav {
	grid-area: nav;

	background-color: var(--accent);
}
.nav ul {
	padding: 20px 28px;
	width: 100%;
	margin: 0;
}
.small-svg {
	width: 30px;
	height: 30px;
	fill: var(--white);
}
@media screen and (min-width: 768px) {
	.nav ul {
		flex-direction: column;
		max-height: 300px;
		height: 100%;
	}
}

/*----------------------- MAIN -------------------------*/

.main {
	grid-area: main;
}
.dashboard-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.dashboard-container div {
	background-color: #f7f7f7;
	padding: 20px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
h2 {
	margin: 0;
	padding: 25px 20px;
	font-weight: 500;
	font-size: 18px;
}
.main-container {
	padding: 20px 15px;
}
/*----------------------- ALERT CONTAINER -------------------------*/

.alert-container {
	position: relative;
}
.alert-container p {
	background-color: var(--primary);
	color: var(--white);
	padding: 15px 40px 15px 15px;
	border-radius: 5px;
	font-size: 14px;
}
.alert-container button {
	background-color: transparent;
	border: none;
	right: 10px;
	top: 14px;
	position: absolute;
	color: white;
}
#click-here {
	cursor: pointer;
}
/*----------------------- GRAPHS -------------------------*/
h3 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	margin: 20px 0;
}
hr {
	margin: 30px 0;
}

/*--------- Traffic graph ----------*/
.traffic-list {
	margin: 30px auto;
	max-width: 270px;
}
.traffic-term {
	padding: 10px;
	cursor: pointer;
}
.traffic-active {
	background-color: #81c98f;
	border-radius: 50px;
	color: var(--white);
}
/*--------- Daily Traffic graph ----------*/
/*--------- Mobile Users graph ----------*/
@media screen and (min-width: 768px) {
	.multi-graph-cont {
		grid-template-columns: 1fr 1fr;
	}
	.hr-graph {
		display: none;
	}
	.hr-a {
		margin-bottom: 0;
	}
	.hr-b {
		margin-top: 0;
	}
	.daily-traffic-cont {
		border-right: 2px solid #ccc;
		padding: 20px 30px 20px 0;
	}
	.mobile-user-cont {
		padding: 20px 0 20px 30px;
	}
	.traffic-list {
		margin: 0 0 30px auto;
	}
}
/* social container */
.social-box-cont {
	gap: 15px;
}
@media screen and (min-width: 768px) {
	.social-box-cont {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
.social-box {
	background-color: var(--grey);
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 20px;
	gap: 15px;
}

h4 {
	color: var(--primary);
	font-weight: 500;
	margin: 0;
}
.social-box-svg svg {
	width: 30px;
	height: 30px;
	fill: white;
}
.social-box-svg {
	background-color: var(--primary);
	display: flex;
	align-items: center;
	align-self: center;
	padding: 15px;
	border-radius: 50%;
}
.social-text-box p {
	font-size: 40px;
	color: var(--darkGrey);
}
/* new members */
.member-image {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.member-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}
.member-box a {
	color: var(--primary);
}
.member-box p {
	text-align: center;
}
.member-box p span {
	font-weight: 600;
}
.member-more {
	display: none;
}
@media screen and (min-width: 768px) {
	.member-box {
		flex-direction: row;
	}
	.member-box p {
		text-align: left;
	}
	.profile-info {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.member-more {
		display: block;
	}
}
@media screen and (min-width: 1024px) {
	.social-container {
		margin-bottom: 40px;
	}
	.member-section,
	.form-container {
		grid-template-columns: 1fr 1fr;
	}
	.new-member-container {
		padding: 0 20px 20px 0;
		border: 2px solid #ccc;
		border-left: none;
	}
	.recent-activity-container {
		padding: 0 0 20px 20px;
		border: 2px solid #ccc;
		border-right: none;
		border-left: none;
	}
	.hr-hide-lg {
		display: none;
	}
	.message-user-cont {
		padding: 0 20px 0 0;
		border-right: 2px solid #ccc;
	}
	.settings-cont {
		padding: 0 0 0 20px;
	}
	textarea {
		height: 128px;
	}
}
/* message user form */

input,
textarea,
select {
	background-color: var(--grey);
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	font-size: 14px;
}
.button-primary {
	background-color: var(--primary);
	padding: 15px 0;
	color: var(--white) !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	width: 100%;
}
.btn-grey {
	background-color: var(--darkGrey);
}
.bs-btn-primary {
	background-color: var(--primary);
	color: var(--white);
}
.switch-toggle label {
	color: white;
}
select {
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	width: 100%;
	margin: 20px 0;
	background-image: url("images/select-arrow.png");
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 12px;
	border: 1px solid #dfdfdf;
}
select:nth-child(1) {
	color: var(--darkGrey);
}
.toggle-switch-emails p,
.toggle-switch-profile p {
	margin: auto 0;
}
.switch-toggle {
	margin: auto 0;
}
.toggle-switch-profile {
	margin: 30px 0 10px 0;
}
.toggle-switch-emails,
.toggle-switch-profile {
	max-width: 400px;
}
/* Notification overlay */

.notify-overlay {
	display: none;
	position: fixed;
	z-index: 3;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.notify-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 2px solid var(--darkGrey);
	width: 80%;
	color: black;
	height: 70vh;
}

/* The Close Button */
.close {
	font-weight: bold;
	max-width: fit-content;
	margin-left: auto;
	display: flex;
}
.close-btn-svg path {
	transition: 0.3s ease;
}
.close:hover .close-btn-svg path,
.close:focus .close-btn-svg path {
	fill: var(--primary);
}
